.home_form {
  border-radius: 5px;
  padding: 15px;
  z-index: 1;
  background-color: aliceblue;
}

.home_form_control {
  display: flex !important;
  flex-direction: row !important;
}

.home_input {
  flex: 1;
}

.home_icon_button {
  flex: 0;
  background-color: red;
  cursor: pointer;
}