*, html {
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}

body {
  position: relative;
  min-height: 100vh;

  margin: 0;
  background-color: white;

}

section {
  padding: 1rem;
  background-color: lightgray;
}

#app {
  padding-bottom: 2.5rem;
}